*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}
.breadcrumb-item.active {
    color: #6c757d;
}
p{
    text-align: justify;
}
/* Body */
body{
    overflow-x: hidden;
}
.main-body{
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 40px;
}
#rank-School{
    border: 1px solid green;
    padding: 10px;
    margin: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
#rankScale{
    border: 1px solid green;
    height: auto;
    padding: 0;
    margin: 0;
}
#sortBy{
    display: flex;
    justify-content: flex-end;
    padding-left: 3px;
    padding-right: 3px;
    align-items: center;
}

button.btn.btn-light.btnstudy1{
    border: 1px solid #ccced1;
    margin: 0px 0.5rem 0.5rem 0px;
    padding: 5px 1rem;
    height: 2.25rem;
    border-radius: calc(1.125rem);
    font-size: 0.875rem;
}

button.btn.btn-light.btnstudy1:hover{
    border: 2px solid grey;
}

#filter-sort{
    display: none;
}

#feature-universities{
    /* border: 1px solid green; */
    margin: 5px;
    box-shadow: 8px 8px 8px 1px rgb(148, 156, 135);
}

.state{
    align-items: center;
    border-right: 1px solid green;
}

.state img{
    width: 20px;
    height: 20px;
}

.state span{
    margin-right: 2px;
}


/* Footer */
.footer-menu{
    font-size: 15px;
    font-weight: 450px;
    margin-right: 15px;
    color: whitesmoke;
}
#footer-small{  
    color: white;
    margin: auto;
}
.social-icon {
    width: 40px;
    background-color: whitesmoke;
    border-radius: 100px;
    border: 1px solid whitesmoke;
    margin: 0 10px;
}
#social-icon-bar{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin: 0;
}

/* Media Query */

@media only screen and (max-width:991px) {
    #sortBy{
        display: none;
    }
    #left-according {
        display: none;
      }
    #filter-sort{
        display: flex;
    }
    #filter-btn{
        font-size: 12px; background-color: rgb(31, 70, 143); 
        border-radius: 5px; 
        padding: 4px; 
        color: cornsilk;
    }
    #sort-btn{
        font-size: 12px; background-color: rgb(31, 70, 143); 
        border-radius: 5px; 
        padding: 4px; 
        color: cornsilk;
    }
    .state{
        align-items: center;
        border-right: 0;
    }
    .globalScore{
        display: none;
    }
    .row{
        --bs-gutter-x:0 !important;
    }
    #feature-universities{
        margin: 20px;
        border: 1px solid green;
    }
    #social-icon-bar{
        display: flex;
        flex-direction: row;
        padding-top: 25px;
    }  
    
}
